.c-carousel {
  background: var(--accent-9),
}

.c-carousel__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-carousel__image {
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition: transform 0.4s ease-in-out;
  will-change: transform;

  &:hover {
    transform: scale(1.05);
  }
}

.c-products__content__textwrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.o-carousel__title {
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: 800;
  color: var(--text-base);
  padding: 1rem;
  background: var(--accent-0);
  width: fit-content;
  text-align: center;
  margin: 0;
}

.o-products__content__price {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 400;
  color: var(--text-base);
  padding: 1rem;
  background: var(--accent-0);
  width: fit-content;
  text-align: center;
}