.c-search {
  padding: 0 .5rem;
  position: relative;
}

.o-search__input {
  height: 2.3rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  outline: none;
  width: calc(100vw - 12rem);
  max-width: 30rem;

  &::placeholder {
    font-size: clamp(0.8rem, 2vw, 1rem);
  }
}

.o-search__input:focus {
  border-color: var(--accent-5)
}

.o-search__icon {
  width: 15px;
  position: relative;
  left: -25px;
  bottom: -2px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 20px;
    left: -30px;
    bottom: -3px;
  }
}