.l-products {
  display: block;
  min-height: 100vh;
  width: 100%;
  padding-top: 60px;
  position: relative;
}

.l-products__slider {
  position: relative;
  height: 400px;
  background: var(--accent-9);
}

.l-products__description {
  grid-area: products__description;
}

.l-products__slider:last-child {
  grid-area: products__slider_2;
}