* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #fff;
  --primary-2: #f1f3f5;
  --secondary: #000;
  --secondary-2: #111;
  --selection: var(--cyan);
  --text-base: #000;
  --text-primary: #000;
  --text-secondary: #fff;
  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --purple: #f81ce5;
  --blue: #0070f3;
  --pink: #ff0080;
  --pink-light: #ff379c;
  --magenta: #eb367f;
  --violet: #7928ca;
  --violet-dark: #4c2889;
  --accent-0: #fff;
  --accent-1: #fafafa;
  --accent-2: #eaeaea;
  --accent-3: #999;
  --accent-4: #888;
  --accent-5: #666;
  --accent-6: #444;
  --accent-7: #333;
  --accent-8: #111;
  --accent-9: #000;
  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue",
    "Helvetica", sans-serif;

  --breakpoint-xs: 768px;
  --breakpoint-sm: 1024px;
  --breakpoint-md: 1280px;
  --breakpoint-lg: 1440px;
}

html {
  font-family: system-ui, sans-serif;
  background-color: #f6f6f6;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.l-main {
  margin: 0 auto;
  padding-top: 60px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}